# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [3]:
import pandas as pd
import numpy as np

# Criando uma séries a partir de uma lista
info = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.4, 1.02]
anomalia_termica = pd.Series(info)
anomalia_termica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:
# Adcionando os anos como índices dentro das séries
anomaliaTermicaComIndex = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.4, 1.02], index=[1900, 1920, 1940, 1960, 1980, 2000, 2020])
anomaliaTermicaComIndex

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [4]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# Definindo uma séries a partir do dicionário
dic_temperaturas_series = pd.Series(dic_temperaturas)
dic_temperaturas_series

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

# Transformando um nd-array em um DataFrame
arr

array([[ 99.20219435,  88.09945628,  97.12293484],
       [104.377227  , 102.57439683, 126.92708627],
       [ 87.55611856,  83.61066929, 105.01533445],
       [106.2872518 , 104.28129637,  99.80618418],
       [104.11106424,  94.59977397, 116.45306652],
       [ 82.59446255, 102.83187461,  96.48573008],
       [ 95.81180413,  96.25004249, 114.98056971],
       [110.02514161, 105.98002981,  89.54362699],
       [103.50492944,  86.10481627, 115.21826027],
       [ 97.06534698,  80.78058386,  94.40479062],
       [112.71437738,  89.29828701, 101.26656247],
       [ 93.56377103, 123.32415935, 113.3295559 ],
       [ 82.6820439 ,  90.01936259, 130.30289686],
       [102.83833295,  80.59949677, 108.10936031],
       [120.23259293, 104.91905956, 101.61351303],
       [105.2391176 ,  99.92792867,  90.28640208],
       [ 84.32692641, 106.73494431, 111.60904538],
       [115.82846284,  99.10027292,  92.9345798 ],
       [ 95.33983639,  89.01233189,  94.61895019],
       [ 97.04574934,  91.00191804,  97.66320646]])

In [5]:
arrDataFrame = pd.DataFrame(arr)
arrDataFrame

             0           1           2
0    99.202194   88.099456   97.122935
1   104.377227  102.574397  126.927086
2    87.556119   83.610669  105.015334
3   106.287252  104.281296   99.806184
4   104.111064   94.599774  116.453067
5    82.594463  102.831875   96.485730
6    95.811804   96.250042  114.980570
7   110.025142  105.980030   89.543627
8   103.504929   86.104816  115.218260
9    97.065347   80.780584   94.404791
10  112.714377   89.298287  101.266562
11   93.563771  123.324159  113.329556
12   82.682044   90.019363  130.302897
13  102.838333   80.599497  108.109360
14  120.232593  104.919060  101.613513
15  105.239118   99.927929   90.286402
16   84.326926  106.734944  111.609045
17  115.828463   99.100273   92.934580
18   95.339836   89.012332   94.618950
19   97.045749   91.001918   97.663206

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [6]:
#Ajustando DataFrame
arrDataFrame.columns

RangeIndex(start=0, stop=3, step=1)

In [7]:
#Ajustando DataFrame
indice = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
colunas = ['x1', 'x2', 'x3']
arrDataFrame.columns = colunas
arrDataFrame.index = indice
arrDataFrame

            x1          x2          x3
1    99.202194   88.099456   97.122935
2   104.377227  102.574397  126.927086
3    87.556119   83.610669  105.015334
4   106.287252  104.281296   99.806184
5   104.111064   94.599774  116.453067
6    82.594463  102.831875   96.485730
7    95.811804   96.250042  114.980570
8   110.025142  105.980030   89.543627
9   103.504929   86.104816  115.218260
10   97.065347   80.780584   94.404791
11  112.714377   89.298287  101.266562
12   93.563771  123.324159  113.329556
13   82.682044   90.019363  130.302897
14  102.838333   80.599497  108.109360
15  120.232593  104.919060  101.613513
16  105.239118   99.927929   90.286402
17   84.326926  106.734944  111.609045
18  115.828463   99.100273   92.934580
19   95.339836   89.012332   94.618950
20   97.045749   91.001918   97.663206

In [8]:
# Consultando os índices das linhas
arrDataFrame.index

Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64')

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [9]:
# Consultando índices das colunas
len(arrDataFrame.columns)

3

In [14]:
# Adicionando nova coluna = Média
arrDataFrame['Média'] = (arrDataFrame['x1'] + arrDataFrame['x2'] + arrDataFrame['x3']) / (len(arrDataFrame.columns) - 1)
arrDataFrame

            x1          x2          x3       Média
1    99.202194   88.099456   97.122935   94.808195
2   104.377227  102.574397  126.927086  111.292903
3    87.556119   83.610669  105.015334   92.060707
4   106.287252  104.281296   99.806184  103.458244
5   104.111064   94.599774  116.453067  105.054635
6    82.594463  102.831875   96.485730   93.970689
7    95.811804   96.250042  114.980570  102.347472
8   110.025142  105.980030   89.543627  101.849599
9   103.504929   86.104816  115.218260  101.609335
10   97.065347   80.780584   94.404791   90.750240
11  112.714377   89.298287  101.266562  101.093076
12   93.563771  123.324159  113.329556  110.072495
13   82.682044   90.019363  130.302897  101.001434
14  102.838333   80.599497  108.109360   97.182397
15  120.232593  104.919060  101.613513  108.921722
16  105.239118   99.927929   90.286402   98.484483
17   84.326926  106.734944  111.609045  100.890305
18  115.828463   99.100273   92.934580  102.621105
19   95.339836   89.012332   94.618950   92.990373
20   97.045749   91.001918   97.663206   95.236958

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [15]:
# Adicionando coluna chamada "log_med"
arrDataFrame['log_med'] = np.log(arrDataFrame['Média'])
arrDataFrame

            x1          x2          x3       Média   log_med
1    99.202194   88.099456   97.122935   94.808195  4.551856
2   104.377227  102.574397  126.927086  111.292903  4.712165
3    87.556119   83.610669  105.015334   92.060707  4.522448
4   106.287252  104.281296   99.806184  103.458244  4.639168
5   104.111064   94.599774  116.453067  105.054635  4.654481
6    82.594463  102.831875   96.485730   93.970689  4.542983
7    95.811804   96.250042  114.980570  102.347472  4.628374
8   110.025142  105.980030   89.543627  101.849599  4.623497
9   103.504929   86.104816  115.218260  101.609335  4.621135
10   97.065347   80.780584   94.404791   90.750240  4.508111
11  112.714377   89.298287  101.266562  101.093076  4.616042
12   93.563771  123.324159  113.329556  110.072495  4.701139
13   82.682044   90.019363  130.302897  101.001434  4.615135
14  102.838333   80.599497  108.109360   97.182397  4.576590
15  120.232593  104.919060  101.613513  108.921722  4.690629
16  105.239118   99.927929   90.286402   98.484483  4.589899
17   84.326926  106.734944  111.609045  100.890305  4.614034
18  115.828463   99.100273   92.934580  102.621105  4.631044
19   95.339836   89.012332   94.618950   92.990373  4.532496
20   97.045749   91.001918   97.663206   95.236958  4.556368