# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Criando uma séries a partir de uma lista
info = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.4, 1.02]
anomalia_termica = pd.Series(info)
anomalia_termica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:
# Adcionando os anos como índices dentro das séries
anomaliaTermicaComIndex = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.4, 1.02], index=[1900, 1920, 1940, 1960, 1980, 2000, 2020])
anomaliaTermicaComIndex

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [5]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# Definindo uma séries a partir do dicionário
dic_temperaturas_series = pd.Series(dic_temperaturas)
dic_temperaturas_series

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [6]:
arr = np.random.normal(100, 10, (20,3))

# Transformando um nd-array em um DataFrame
arr

array([[ 89.8560577 , 101.45017653, 109.17261757],
       [ 94.99764309, 110.93193823,  93.68497382],
       [109.93009986, 103.22731767,  82.5312393 ],
       [106.41579456, 113.00206898,  99.740566  ],
       [ 93.04685695,  97.1996947 , 114.9634016 ],
       [110.21345128,  97.12779202,  94.77438288],
       [ 79.17589102, 103.20593064, 106.06598834],
       [ 95.57759158, 113.80628274,  86.79525469],
       [124.12422565, 107.91136988, 109.26220618],
       [ 94.11961586,  81.89322624,  93.6368271 ],
       [ 98.92309785, 105.8697693 ,  98.49895177],
       [101.4254562 ,  95.94654106, 102.06140392],
       [ 94.21505518,  96.52603973, 100.30217732],
       [ 94.23382843, 114.55586692,  96.33414662],
       [ 99.96457793,  98.19673359, 110.29091811],
       [ 98.65255078, 105.15310139,  96.51036887],
       [ 97.6542377 , 110.44172358, 104.74890214],
       [ 95.45505416, 110.07276167,  94.69324234],
       [ 96.06475611, 108.18470147, 100.46460082],
       [ 89.64918772,  85.08172274,  86.70964574]])

In [23]:
arrDataFrame = pd.DataFrame(arr)
arrDataFrame

             0           1           2
0    89.856058  101.450177  109.172618
1    94.997643  110.931938   93.684974
2   109.930100  103.227318   82.531239
3   106.415795  113.002069   99.740566
4    93.046857   97.199695  114.963402
5   110.213451   97.127792   94.774383
6    79.175891  103.205931  106.065988
7    95.577592  113.806283   86.795255
8   124.124226  107.911370  109.262206
9    94.119616   81.893226   93.636827
10   98.923098  105.869769   98.498952
11  101.425456   95.946541  102.061404
12   94.215055   96.526040  100.302177
13   94.233828  114.555867   96.334147
14   99.964578   98.196734  110.290918
15   98.652551  105.153101   96.510369
16   97.654238  110.441724  104.748902
17   95.455054  110.072762   94.693242
18   96.064756  108.184701  100.464601
19   89.649188   85.081723   86.709646

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [24]:
#Ajustando DataFrame
arrDataFrame.columns

RangeIndex(start=0, stop=3, step=1)

In [25]:
#Ajustando DataFrame
indice = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
colunas = ['x1', 'x2', 'x3']
arrDataFrame.columns = colunas
arrDataFrame.index = indice
arrDataFrame

            x1          x2          x3
1    89.856058  101.450177  109.172618
2    94.997643  110.931938   93.684974
3   109.930100  103.227318   82.531239
4   106.415795  113.002069   99.740566
5    93.046857   97.199695  114.963402
6   110.213451   97.127792   94.774383
7    79.175891  103.205931  106.065988
8    95.577592  113.806283   86.795255
9   124.124226  107.911370  109.262206
10   94.119616   81.893226   93.636827
11   98.923098  105.869769   98.498952
12  101.425456   95.946541  102.061404
13   94.215055   96.526040  100.302177
14   94.233828  114.555867   96.334147
15   99.964578   98.196734  110.290918
16   98.652551  105.153101   96.510369
17   97.654238  110.441724  104.748902
18   95.455054  110.072762   94.693242
19   96.064756  108.184701  100.464601
20   89.649188   85.081723   86.709646

In [26]:
# Consultando os índices das linhas
arrDataFrameUpgrade.index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
            20],
           dtype='int64')

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [27]:
# Consultando índices das colunas
len(arrDataFrameUpgrade.columns)

4

In [28]:
# Adicionando nova coluna = Média
arrDataFrame['Média'] = (arrDataFrame['x1'] + arrDataFrame['x2'] + arrDataFrame['x3']) / (len(arrDataFrame.columns) - 1)
arrDataFrame

            x1          x2          x3       Média
1    89.856058  101.450177  109.172618  150.239426
2    94.997643  110.931938   93.684974  149.807278
3   109.930100  103.227318   82.531239  147.844328
4   106.415795  113.002069   99.740566  159.579215
5    93.046857   97.199695  114.963402  152.604977
6   110.213451   97.127792   94.774383  151.057813
7    79.175891  103.205931  106.065988  144.223905
8    95.577592  113.806283   86.795255  148.089565
9   124.124226  107.911370  109.262206  170.648901
10   94.119616   81.893226   93.636827  134.824835
11   98.923098  105.869769   98.498952  151.645909
12  101.425456   95.946541  102.061404  149.716701
13   94.215055   96.526040  100.302177  145.521636
14   94.233828  114.555867   96.334147  152.561921
15   99.964578   98.196734  110.290918  154.226115
16   98.652551  105.153101   96.510369  150.158011
17   97.654238  110.441724  104.748902  156.422432
18   95.455054  110.072762   94.693242  150.110529
19   96.064756  108.184701  100.464601  152.357029
20   89.649188   85.081723   86.709646  130.720278

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [29]:
# Adicionando coluna chamada "log_med"
arrDataFrame['log_med'] = np.log(arrDataFrame['Média'])
arrDataFrame

            x1          x2          x3       Média   log_med
1    89.856058  101.450177  109.172618  150.239426  5.012230
2    94.997643  110.931938   93.684974  149.807278  5.009350
3   109.930100  103.227318   82.531239  147.844328  4.996160
4   106.415795  113.002069   99.740566  159.579215  5.072540
5    93.046857   97.199695  114.963402  152.604977  5.027853
6   110.213451   97.127792   94.774383  151.057813  5.017663
7    79.175891  103.205931  106.065988  144.223905  4.971367
8    95.577592  113.806283   86.795255  148.089565  4.997817
9   124.124226  107.911370  109.262206  170.648901  5.139608
10   94.119616   81.893226   93.636827  134.824835  4.903976
11   98.923098  105.869769   98.498952  151.645909  5.021548
12  101.425456   95.946541  102.061404  149.716701  5.008745
13   94.215055   96.526040  100.302177  145.521636  4.980325
14   94.233828  114.555867   96.334147  152.561921  5.027571
15   99.964578   98.196734  110.290918  154.226115  5.038420
16   98.652551  105.153101   96.510369  150.158011  5.011688
17   97.654238  110.441724  104.748902  156.422432  5.052560
18   95.455054  110.072762   94.693242  150.110529  5.011372
19   96.064756  108.184701  100.464601  152.357029  5.026227
20   89.649188   85.081723   86.709646  130.720278  4.873060