# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Criando uma séries a partir de uma lista
info = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.4, 1.02]
anomalia_termica = pd.Series(info)
anomalia_termica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:
# Adcionando os anos como índices dentro das séries
anomaliaTermicaComIndex = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.4, 1.02], index=[1900, 1920, 1940, 1960, 1980, 2000, 2020])
anomaliaTermicaComIndex

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# Definindo uma séries a partir do dicionário
dic_temperaturas_series = pd.Series(dic_temperaturas)
dic_temperaturas_series

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

# Transformando um nd-array em um DataFrame
arr

array([[ 88.75152447,  89.75320099, 109.81837963],
       [ 94.24451732, 100.71001373, 100.19795662],
       [ 88.31375573,  95.45819509,  98.69918525],
       [ 94.40293807, 109.70418945, 111.10235014],
       [ 88.60713239, 109.89145786,  94.22965432],
       [109.37774439,  88.69009849, 108.23965465],
       [103.86375962,  92.24400473,  94.82724963],
       [ 83.19709649, 106.640188  , 108.64348183],
       [108.60281479, 112.43840549,  86.8047227 ],
       [112.40626219,  96.13707097,  86.7953646 ],
       [110.94575906, 102.54045511, 112.13197072],
       [ 88.84208054, 109.1780062 , 127.69448458],
       [102.91980058,  92.2735046 , 104.91343041],
       [104.88380797,  99.39277277,  99.39012107],
       [ 90.73064228, 108.29374638, 101.91660577],
       [ 98.26000268, 122.92110417, 104.47390698],
       [106.37351371,  95.36763517, 114.1822381 ],
       [105.2818035 , 103.7502627 , 104.29202713],
       [110.90610589, 103.30461644,  89.28678039],
       [ 91.21108596,  96.57977439, 105.15885877]])

In [5]:
arrDataFrame = pd.DataFrame(arr)
arrDataFrame

             0           1           2
0    88.751524   89.753201  109.818380
1    94.244517  100.710014  100.197957
2    88.313756   95.458195   98.699185
3    94.402938  109.704189  111.102350
4    88.607132  109.891458   94.229654
5   109.377744   88.690098  108.239655
6   103.863760   92.244005   94.827250
7    83.197096  106.640188  108.643482
8   108.602815  112.438405   86.804723
9   112.406262   96.137071   86.795365
10  110.945759  102.540455  112.131971
11   88.842081  109.178006  127.694485
12  102.919801   92.273505  104.913430
13  104.883808   99.392773   99.390121
14   90.730642  108.293746  101.916606
15   98.260003  122.921104  104.473907
16  106.373514   95.367635  114.182238
17  105.281803  103.750263  104.292027
18  110.906106  103.304616   89.286780
19   91.211086   96.579774  105.158859

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [6]:
#Ajustando DataFrame
arrDataFrame.columns

RangeIndex(start=0, stop=3, step=1)

In [7]:
#Ajustando DataFrame
indice = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
colunas = ['x1', 'x2', 'x3']
arrDataFrame.columns = colunas
arrDataFrame.index = indice
arrDataFrame

            x1          x2          x3
1    88.751524   89.753201  109.818380
2    94.244517  100.710014  100.197957
3    88.313756   95.458195   98.699185
4    94.402938  109.704189  111.102350
5    88.607132  109.891458   94.229654
6   109.377744   88.690098  108.239655
7   103.863760   92.244005   94.827250
8    83.197096  106.640188  108.643482
9   108.602815  112.438405   86.804723
10  112.406262   96.137071   86.795365
11  110.945759  102.540455  112.131971
12   88.842081  109.178006  127.694485
13  102.919801   92.273505  104.913430
14  104.883808   99.392773   99.390121
15   90.730642  108.293746  101.916606
16   98.260003  122.921104  104.473907
17  106.373514   95.367635  114.182238
18  105.281803  103.750263  104.292027
19  110.906106  103.304616   89.286780
20   91.211086   96.579774  105.158859

In [8]:
# Consultando os índices das linhas
arrDataFrame.index

Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64')

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [9]:
# Consultando índices das colunas
len(arrDataFrame.columns)

3

In [10]:
# Adicionando nova coluna = Média
arrDataFrame['Media'] = (arrDataFrame['x1'] + arrDataFrame['x2'] + arrDataFrame['x3']) / (len(arrDataFrame.columns) - 1)
arrDataFrame

            x1          x2          x3       Media
1    88.751524   89.753201  109.818380  144.161553
2    94.244517  100.710014  100.197957  147.576244
3    88.313756   95.458195   98.699185  141.235568
4    94.402938  109.704189  111.102350  157.604739
5    88.607132  109.891458   94.229654  146.364122
6   109.377744   88.690098  108.239655  153.153749
7   103.863760   92.244005   94.827250  145.467507
8    83.197096  106.640188  108.643482  149.240383
9   108.602815  112.438405   86.804723  153.922971
10  112.406262   96.137071   86.795365  147.669349
11  110.945759  102.540455  112.131971  162.809092
12   88.842081  109.178006  127.694485  162.857286
13  102.919801   92.273505  104.913430  150.053368
14  104.883808   99.392773   99.390121  151.833351
15   90.730642  108.293746  101.916606  150.470497
16   98.260003  122.921104  104.473907  162.827507
17  106.373514   95.367635  114.182238  157.961693
18  105.281803  103.750263  104.292027  156.662047
19  110.906106  103.304616   89.286780  151.748751
20   91.211086   96.579774  105.158859  146.474860

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [11]:
# Adicionando coluna chamada "log_med"
arrDataFrame['log_med'] = np.log(arrDataFrame['Media'])
arrDataFrame

            x1          x2          x3       Media   log_med
1    88.751524   89.753201  109.818380  144.161553  4.970935
2    94.244517  100.710014  100.197957  147.576244  4.994345
3    88.313756   95.458195   98.699185  141.235568  4.950429
4    94.402938  109.704189  111.102350  157.604739  5.060090
5    88.607132  109.891458   94.229654  146.364122  4.986098
6   109.377744   88.690098  108.239655  153.153749  5.031442
7   103.863760   92.244005   94.827250  145.467507  4.979953
8    83.197096  106.640188  108.643482  149.240383  5.005558
9   108.602815  112.438405   86.804723  153.922971  5.036452
10  112.406262   96.137071   86.795365  147.669349  4.994976
11  110.945759  102.540455  112.131971  162.809092  5.092578
12   88.842081  109.178006  127.694485  162.857286  5.092874
13  102.919801   92.273505  104.913430  150.053368  5.010991
14  104.883808   99.392773   99.390121  151.833351  5.022784
15   90.730642  108.293746  101.916606  150.470497  5.013767
16   98.260003  122.921104  104.473907  162.827507  5.092691
17  106.373514   95.367635  114.182238  157.961693  5.062353
18  105.281803  103.750263  104.292027  156.662047  5.054091
19  110.906106  103.304616   89.286780  151.748751  5.022226
20   91.211086   96.579774  105.158859  146.474860  4.986854